default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
        - id: actionlint
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]